@import '../../_base/lib/stylus/_init.styl'

.Menu 
	_bc($lightBlue)
	_dfr(flex-start, center)
	_h(65px)
	_reset(0)
	ul
		_dfr(center, center)
		_fullH()
		_fullW()
		_lsn()
		_reset(0)
		li
			_dfr(center, center)
			_fullH()
			_padd(10px)
			_ta(center)
			_w(13%)
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5)
				_w(18.5%)
			.LinkMenu
				_(transparent)
				_aReset(white)
				_dfr(center, center)
				_fz(14px)
				_h(65px)
				_p(17px, 0, 17px, 0)
				_ta(center)
				will-change transform
				&:hover 
					_fwb()
					border-bottom 10px solid $red
					cursor pointer
				&:active 
					transform scale(.9)
		