// Borders
  _test(var)
    border 1px solid var
  _bn()
    border none
// Display
  _dFlex(justifyContent, alignItems, flexDirection)
    align-items alignItems
    display flex
    flex-direction flexDirection
    justify-content justifyContent
  _dfr(justifyContent, alignItems)
    align-items alignItems
    display flex
    flex-direction row
    justify-content justifyContent
  _dfc(justifyContent, alignItems)
    align-items alignItems
    display flex
    flex-direction column
    justify-content justifyContent
  _fw(var)
    flex-wrap var

// Width / Height  
  _w(var)
    width var
  _h(var)
    height var
  _mw(var)
    max-width 50%
  _fullW()
    width 100%
  _ma()
    margin auto
  _maR(var1, var2)
    margin var1 var2
  _mh(var)
    min-height var
// Margin / Padding
  _p(top, right, bottom, left)
    padding top, right, bottom, left
  _mr(vertical, horizontal)
    margin vertical horizontal
  _reset(var)
    margin var
    padding var
  _pLeft(var)
    padding-left var
  _pRight(var)
    padding-right var
  _padd(var)
    padding 0
  _mar(var)
    margin var
  _mTop(var)
    margin-top var
  _mRight(var)
    margin-right var
  _mLeft(var)
    margin-left var
  _mBottom(var)
    margin-left var

// Positions 
  _pa()
    position absolute
  _pr()
    position relative
  _d(var)
    display var
  _r(var)
    right var
  _l(var)
    left var
  _t(var)
    top var
  _b(var)
    bottom var

//Colors 
  _c(var)
    color var
  _bc(color)
    background-color color


//Fonts
  _fwb()
    font-weight bold
  _fwn()
    font-weight normal
  _fwi()
    font-weight italic
  _ta(var)
    text-align var
  _fz(var)
    font-size var

//Links
  _aReset(var)
    text-decoration none
    color var
    