.BdbContainer
  height 95%
  left 2.5%
  padding 0
  top 2.5%
  width 100%
  .BdbEdifice
    display block
    margin 50px 25%
    max-width 50% 
  .InfoContainer
    display flex 
    width 100%
    .Menu
      background-color white
      height 400px
      margin 0 0 2% 2% 
      width 40%
      .NavBdB
        margin 0
        padding 0
        width 100%
        .UlBdB
          align-items flex-start
          display flex 
          flex-direction column
          justify-content flex-start
          margin 0 
          padding 0
          width 100%
          .ItemBdB
            width 100%
            &:hover 
              border none 
              font-weight bold
            a 
              color #0974B7
              font-size 20px
              text-align left
              width 100%
    .Content 
      border 1px solid red
      border-left 1px solid #0974B7
      margin 0 0 2% 2% 
      padding-left 20px
      width 52%