@import '../../../_base/lib/stylus/_init.styl'

.BdbContainer
  _fllW()
  _h(95%)
  _l(2.5%)
  _reset(0)
  _t(2.5%)
  .BdbEdifice
    _d(block)
    _mr(50px, 15%)
    _mw(70%)
  .InfoContainer
    _dfr(flex-start, flex-start)
    _fullW()
    .Menu
      _bc(white)
      _w(37%)
      _dfc(flex-start, flex-start)
      margin 0 0 2% 2% 
      .NavBdB
        _fullW()
        _reset(0)
        .UlBdB
          _dfc(flex-start, flex-start)
          .ItemBdB
            _fullW()
            &:hover
              _bn()
              _fwb()
            a 
              _aReset($lightBlue)
              _dfr(flex-start, flex-start)
              _fullW()
              _fz($fontNormal)
              _padd(0)
              _reset(0)
              _ta(left)
    .Content 
      _pLeft(20px)
      _w(60%)
      border-left 1px solid $lightBlue
      margin 0 0 2% 2%