.BodyView 
	width 1366px
	min-height 1024px  
	position relative
	.Ciudad
		left 0
		position absolute 
		top 0 
		z-index 1
	.Transparent 
		height 1024px 
		left 0
		position absolute 
		top 0
		width 1366px
		z-index 2
		.HandleClick
			height 100% 
			position absolute 
			width 100% 
			.Prison 
				border-radius 50% 
				height 255px 
				position absolute 
				right 380px
				top 35px
				width 260px 
				z-index 3
		.PrisonHover
			width 100% 
			height 100%
			background-image url('./assets/prison-hover.png')
	