@import '../../_base/lib/stylus/_init.styl'
.BodyView
  _ma()
  _pr()
  width 968px
  .Ciudad
    left 0
    position absolute 
    top 0
    width 100%
    z-index 1
  .Transparent 
    _test(red)
    left 0
    position relative 
    top 0
    width 100%
    height 725px
    z-index 2
    .HandleClick
      height 100% 
      position absolute 
      width 100% 
      .Bank, .Court, .Library, .Politics, .Prison, .School
        border-radius 50% 
        height 150px 
        position absolute 
        width 150px 
        z-index 3
        border 1px solid red
      .Bank
        left 410px
        top 320px
        border 1px solid purple
      .Court
        left 235px
        top 440px
      .Library 
        right 180px
        top 475px
      .Politics
        right 80px
        top 140px
      .Prison 
        right 290px
        top 35px
      .School 
        left 70px
        top 350px
    .BankHover, .CourtHover, .LibraryHover, .PoliticsHover, .PrisonHover, .SchoolHover
      background-repeat no-repeat, repeat
      background-size 100% 100%
      bottom 0
      left 0 
      position absolute
      right 0
      top 0
    .BankHover
      background-image url('./assets/bank-hover.png')
    .CourtHover
      background-image url('./assets/court-hover.png')
    .LibraryHover
      background-image url('./assets/library-hover.png')
    .PoliticsHover
      background-image url('./assets/politics-hover.png')
    .PrisonHover
      background-image url('./assets/prison-hover.png')
    .SchoolHover
      background-image url('./assets/school-hover.png')