@import '../../_base/lib/stylus/_init.styl'

.Footer 
	_dfc(center, center)
	_fullW()
	_reset(0)
	_padd(0)
	.Linear
		_reset(0)
		_fullW()
		_dfr(flex-start, flex-start)
		.Red
			_reset(0)
			_w(27%)
			_reset(0)
			border 2px solid $red
		.Yellow
			_reset(0)
			_w(73%)
			_reset(0)
			border 2px solid $yellow
	.Content 
		_reset(0)
		_bc($darkBlue)
		_fullW()
		_mh(200px)