@import './_import.styl'
.School-3
  .Title 
    _c($lightBlue)
    _fz($fontBig)
    _ta(left)
  .ItemsContainer
    .ItemContainer
    _dfc(flex-start, flex-start)
    _fw(wrap)
      _dfr(flex-start, center)
      _reset(0)
      _w(100%)
      padding 10px 0
      .ImageContainer
        _reset(0)
        _dfr(center, center)
        _w(17%)
        img 
          _ma()
          _w(60%)
      &:nth-child(1)
        _dfr(flex-start, flex-start)
      .TextContainer
        _w(82%)
        _reset(0)
        _dfr(flex-start, center)
        .Text 
          _c($gray)
          _fwn()
          _fz($fontNormal)
          _ta(left)
          _reset(0)
  .TextFooter
    _c($lightBlue)
    _fwb()
    _fz($fontBig)
    _w(74%)
    border-bottom 4px solid $yellow
    line-height 1.5
    padding-bottom 5px