@import '../../../../../_base/lib/stylus/_init.styl'

.School-2
  .Title 
    _c($gray)
    _fwn()
    _fz($fontNormal)
    _ta(center)
  .ItemsContainer
    _dfr(center, flex-start)
    _fw(wrap)
    .ItemContainer
      _w(33%)
      a
        cursor pointer
        _aReset($gray)
      .noPointer
        cursor default
      .ImageContainer
        _dfr(center, center)
        _h(70px)
        img 
          _maR(0, 2.5%)
          _w(95%)
      .Title 
        _c($gray)
        _fwn()
        _fz($fontNormal)
        _ta(center)
  .Callback
    _dfc(center, center)
    _fullW()
    _mTop(25px)
    .Text
      _c($gray)
      _fullW()
      _fwn()
      _fz($fontNormal)
      _ta(center)
    .Button
      _aReset(white)
      _bc($yellow)
      _bn()
      _fwb()
      _ta(center)
      _w(10%)
      _br(7px)
      margin 0 auto
      padding 5px 50px
      will-change transform
      &:active
        transform scale(.9)