@import './_import.styl'
.School-3
  .Title 
    _c($lightBlue)
    _fz($fontBig)
    _ta(left)
  .ItemsContainer
    .ItemContainer
      _dfc(flex-start, flex-start)
      _dfr(flex-start, center)
      _fw(wrap)
      _reset(0)
      _w(100%)
      padding 10px 0
      .ImageContainer
        _dfr(center, center)
        _reset(0)
        _w(15%)
        img 
          _w(65%)
      &:nth-child(1)
        _dfr(flex-start, flex-start)
      .TextContainer
        _dfr(flex-start, center)
        _reset(0)
        _w(83%)
        .Text 
          _c($gray)
          _fwn()
          _fz($fontNormal)
          _reset(0)
          _ta(left)
  .TextFooter
    _c($lightBlue)
    _fwb()
    _fz($fontBig)
    _w(74%)
    border-bottom 4px solid $yellow
    line-height 1.5
    padding-bottom 5px