@import url('https://fonts.googleapis.com/css?family=Roboto')
@import '../../_base/lib/stylus/_init.styl'
.AppContainer 
  _fz(16px)
  _ma()
  _mw(968px)
  _padd(0)
  _pr()
  font-family 'Roboto', sans-serif
  margin-bottom 0