@import '../../../../../_base/lib/stylus/_init.styl'

.Prison-1
  _dfr(center, center)
  _fw(wrap)
  _mh(285px)
  _reset(0)
  .Image
    _w(40%)
    margin 0 30%
    img 
      _fullW()
  .Title
    _c($lightBlue)
    border-bottom 5px solid $yellow
    padding-bottom 10px
  .Text 
    _c($gray)
    _fz($fontNormal)
    _ta(center)
    _w(90%)
    margin 0 5%
    