// Borders
  _test(var)
    border 1px solid var
  _bn()
    border none
// Display
  _dFlex(justifyContent, alignItems, flexDirection)
    display flex
    justify-content justifyContent
    align-items alignItems
    flex-direction flexDirection

// Width / Height  
  _w(var)
    width var
  _h(var)
    height var
  _mw(var)
    max-width 50%
  _fullW()
    width 100%

// Margin / Padding  
  _p(top, right, bottom, left)
    padding top, right, bottom, left
  _mr(vertical, horizontal)
    margin vertical horizontal
  _reset(var)
    margin var
    padding var
  _pLeft(var)
    padding-left var
  _pRight(var)
    padding-right var

// Positions 
  _pa()
    position absolute
  _pr()
    position relative
  _d(var)
    display var
  _r(var)
    right var
  _l(var)
    left var
  _t(var)
    top var
  _b(var)
    bottom var

//Colors 
  _c(var)
    color var

  _bc(color)
    background-color color