@import '../../../../../_base/lib/stylus/_init.styl'

.Court-2
  _dfr(center, center)
  _fw(wrap)
  _mh(295px)
  _reset(0)
  _w(97%)
  .Left
    _reset(0)
    _w(55%)
    .Title
      _c($lightBlue)
      _fullW()
      _fz($fontBig)
      _ta(center)
    .OrderList
      _fullW()
      _lsn()
      _reset(0)
      .Item
        _dfr(flex-start, flex-start)
        _fullW()
        margin-bottom 15px
        p 
          _c($gray)
          _reset(0)
          _pLeft(10px)
    .TitleYellow
      _c($yellow)
      _fz($fontBig)
      _fullW()
      _ta(left)
      
  .Right
    _reset(0)
    _w(45%)
    img 
      _fullW()
    