@import './_import.styl'
.BdB-5
  _fullW()
  h2 
    _c($lightBlue)
  .TopContent
    _dfr(flex-start, flex-start)
    _reset(0)
    _fullW()
    .TopContentLeft
      _reset(0)
      _w(30%)
      figure 
        _reset(0)
        img 
          _fullw()
    .TopContentRight
      _w(70%)
      h2
        _c($lightBlue)
        _w(85%)
      p
        _c($gray)
        font-size $fontMedium
        _w(80%)
  .BottomContent
    display flex 
    _fw(wrap)
    _fullW()
    .ItemContainer
      border 2px solid $yellow
      _w(48%)
      &:nth-child(odd)
        _mRight(2px)
      &:nth-child(1)
        border-radius 15px 0 0 0
      &:nth-child(2)
        border-radius 0 15px 0 0
      &:nth-child(3)
        border-radius 0 0 0 15px
      &:nth-child(4)
        border-radius 0 0 15px 0
      .ItemTopContainer
        _bc($yellow)
        border-radius 0
        border-right 1px solid $yellow
        border-top 1px solid $yellow
        _h(100px)
        _dfr(center, center)
        _reset(0)
        figure
          width 20%
          img 
            width 100%
      &:nth-child(1)
        .ItemTopContainer
          border-radius 12px 0 0 0
      &:nth-child(2)
        .ItemTopContainer
          border-radius 0 12px 0 0
        figure 
          _mar(0)
          background-color $yellow
          padding 10px 0 
          img 
            _reset(0)
      .ItemContent 
        _bc(white)
        h3
          _c($yellow)
          _fullW()
          _ta(center)
        p 
          _c($gray)
          _fz($fontMedium)
          _ta(center)
          _w(95%)
          padding 0 2.5%