.BdB-4
  width 100%
  h2 
    color #0974B7
  .InfoContainer
    width 100%
    display flex
    .ImageContainer
      width 20%
      margin 0 
      padding 0
      figure 
        margin 0 
        padding 0
        height 110px
        display flex 
        justify-content center
        align-items flex-start
        img 
          margin-top 17px
        &:nth-child(6)
          height 150px
    .ItemsContainer
      width 80%
      padding 0
      .ItemContainer 
        border 1px solid transparent
        margin 0 
        padding 0
        height 110px
        &:nth-child(6)
          height 150px
        h3
          color #F7AB2D
          margin-bottom 8px
        p
          color #606060
          margin 0
          padding 0