@import './_import.styl'

.BdB-2
  _fullW()
  h2
    _fwb()
    _c($lightBlue)
  .BdB-2-Content
    _dfr(center, center)
    _fullW()
    .Left
      _dfc(center, center)
      _w(20%)
      figure 
        _h(100px)
        _reset(0)
        _w(100px)
        _dfr(center, center)
        img 
          _ma()
          _w(80%)
          _padd(0)
    .Right
      _reset(0)
      _w(79%)
      p
        _c($gray)
        _dfr(center, center, row)
        _h(100px)
        _reset(0)