@import './_import.styl'

.BdB-3
  _fullW()
  .TopContent
    _dfr(center, center)
    _fullW()
    .TopContentLeft 
      _w(50%)
      h2
        _c($lightBlue)
        _w(75%)
        margin 0 0 10px 0 
      p
        _c($gray)
        _w(95%)
        font-size $fontMedium
        line-height 1.3
    .TopContentRight
      _dfr(center, center)
      _w(50%)
      img
        _ma()
        _w(100%)
  .BottomContent
    _dfc(center, center)
    _fullW()
    _fw(wrap)
    _h(500px)
    .ItemContainer
      _w(50%)
      .TitleContainer 
        _dfr(flex-start, center)
        _fullW()
        _mar(0)
        .IconBefore
          _reset(0)
          _w(25px)
        .ItemTitle
          _c($yellow)
          _d(inline-block)
          _reset(0)
          _w(60%)
      .ItemText 
        _c($gray)
        _pLeft(25px)
        _w(75%)
        line-height 1.4