@import './_import.styl'
.BdB-4
  _fullW()
  h2 
    _c($lightBlue)
  .InfoContainer
    _fullW()
    _dfr(center, center)
    .ImageContainer
      _w(20%)
      _reset(0)
      figure 
        _reset(0)
        _h(110px)
        _dfr(center, flex-start)
        &:nth-child(6)
          _h(150px)
    .ItemsContainer
      _w(80%)
      _padd(0)
      .ItemContainer 
        _test(transparent)
        _reset(0)
        _h(110px)
        &:nth-child(6)
          _h(150px)
        h3
          _c($yellow)
          margin 0 0 8px 0
          
        p
          _c($gray)
          _reset(0)