.BdB-3
  width 100%
  .TopContent
    display flex 
    width 100%
    .TopContentLeft 
      width 50%
      h2
        color #0974B7
        margin 0 0 10px 0 
        width 75%
      p
        color #606060
        font-size 18px
        line-height 1.3
        width 95%
    .TopContentRight
      align-items center
      display flex 
      justify-content center
      width 50%
      img
        margin auto
        width 100%
  .BottomContent
    display flex
    flex-direction column
    flex-wrap wrap
    height 500px
    width 100%
    .ItemContainer
      width 50%
      .TitleContainer 
        align-items center
        display flex
        justify-content flex-start 
        margin 0 
        width 100%
        .IconBefore
          margin 0
          width 25px
        .ItemTitle
          color #F7AB2D
          display inline-block
          margin 0 
          padding 0 
          width 60%
      .ItemText 
        color #606060
        line-height 1.4
        padding-left 25px
        width 75%