@import '../../../../../_base/lib/stylus/_init.styl'

.BdB-4
  _fullW()
  .Title 
    _c($lightBlue)
  .InfoContainer
    _dfr(center, center)
    _fullW()
    .ItemsContainer
      _fullW()
      _padd(0)
      .ItemContainer 
        _dfr(center, center)
        _fullW()
        _h(110px)
        _reset(0)
        _test(transparent)
        &:nth-child(6)
          _dfr(center, flex-start)
          _h(135px)
        .ImageContainer
          _w(20%)
          _reset(0)
          img 
            _w(70%)
            margin 0 15%
        .Info
          _reset(0)
          _w(70%)
          h3
            _c($yellow)
            margin 0 0 8px 0
          p
            _c($gray)
            _reset(0)