@import '../../_base/lib/stylus/_init.styl'

.ModalContainer
	_(transparent)
	_pr()
	_reset(0)
	_t(0)
	_w(calc(100% - 2px))
	_z(2)
	background-color rgba(#0974B7, .7)
	min-height 724px
	transition 1s
	.WindowsModal
		_(transparent)
		_bc(white)
		_br(25px)
		_h(auto)
		_pr()
		_(red)
		_w(90%)
		margin 25px 5% 
		.CloseButton
			_bc(transparent)
			_bn()
			_h(40px)
			_pa()
			_r(20px)
			_t(20px)
			_w(40px)
			background-image url('./assets/ButtonClose.svg')
			outline 0
			will-change transfrom
			&:active 
				outline 0px
				transform scale(.9)