.ModalContainer
	// background-color rgba(#0974B7, .7)
	background-color rgba(red, .7)
	min-height 1024px
	position absolute
	top 233px
	transition 1s
	width 100%
	z-index 2
	.WindowsModal
		background-color white 
		border-radius 25px
		height auto
		margin 30px auto
		padding 10px 
		position relative 
		width 95% 
		.CloseButton
			background-color transparent
			background-image url('./assets/ButtonClose.svg')
			border none
			height 40px
			outline 0
			position absolute 
			right 20px
			top 20px
			width 40px
			will-change transfrom
			&:active 
				outline 0px
				transform scale(.9)